<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" 
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
	
	<context:annotation-config />
	
	<http use-expressions="true" pattern="/mvc/*">
		
		<intercept-url pattern="/mvc/HomeController" access="isAuthenticated()" />
		<intercept-url pattern="/mvc/WorkController" access="isAuthenticated()" />
		
		<form-login login-page="/nosession.htm" login-processing-url="/mvc/login" username-parameter="Key"
			default-target-url="/mvc/HomeController" authentication-failure-url="/loginfailed.htm" />
		
		<custom-filter ref="customFilter" before="SESSION_MANAGEMENT_FILTER" />
		
		<logout logout-url="/mvc/logout" logout-success-url="/sessionexpired.htm" />
		
		<headers>
			<cache-control/>
			<frame-options policy="DENY"/>
			<xss-protection/>
		</headers>
		
		<session-management>
			<concurrency-control expired-url="/sessionexpired.htm"/>
		</session-management>
		
		<csrf disabled="true"/>
		
	</http>
	
	<beans:bean id="customFilter" class="org.ritvik.common.CustomFilter"/>
	
	<beans:bean id="customAuthenticationProvider" class="org.ritvik.common.CustomAuthenticationProvider"/>

	<authentication-manager>
		<authentication-provider ref="customAuthenticationProvider" />
	</authentication-manager>
	
	<beans:bean id="logger" class="org.apache.log4j.Logger" factory-method="getLogger">
		<beans:constructor-arg value="org.ritvik.processLog" />
	</beans:bean>

</beans:beans>