<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" 
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
	
	<context:annotation-config />
	
	<http use-expressions="true">
		
		<intercept-url pattern="/mvc/HomeController" access="isAuthenticated()" />
		
		<form-login login-page="/nosession.htm" login-processing-url="/mvc/j_login" 
			default-target-url="/mvc/HomeController" authentication-failure-url="/loginfailed.htm" 
			username-parameter="Key"/>
		
		<logout logout-url="/mvc/j_logout" logout-success-url="/nosession.htm"/>
		
		<csrf disabled="true"/>
		
	</http>
	
	<beans:bean id="customAuthenticationProvider" class="org.ritvik.common.CustomAuthenticationProvider" depends-on="logger"/>

	<authentication-manager>
		<authentication-provider ref="customAuthenticationProvider"/>
	</authentication-manager>
	
	<beans:bean id="logger" class="org.apache.log4j.Logger" factory-method="getLogger">
		<beans:constructor-arg value="org.ritvik.processLog" />
	</beans:bean>

</beans:beans>